.lorem{
    margin: 5px;
}

.floatdemo{
    margin: 10px;
    float: right;
}

.cleardemo{
    margin: 5px;
    clear: both;
}

div {
    font-size: 24px;
    text-align: center;
}

.box1{
    width: 90%;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}